<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a {{action home}} class="brand">Ride Journal</a>
    </div>
  </div>
</div>

{{outlet}}
